* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-image: url("../imagem/fundodonuts.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: brightness(0.4);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 120px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}


.container {
    max-width: 800px;
    margin: 120px auto;
    text-align: center;
    padding: 20px;
   
    border-radius: 15px;
}

.titulo {
    font-size: 40px;
    margin-bottom: 20px;
}

.container p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
}


.voltar {
    width: 95%;
    padding: 12px;
    margin-top: 35px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #ff77ab, #ff77ab);
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
}



@media (max-width: 900px) {
    .titulo {
        font-size: 32px;
    }
    .container {
        max-width: 90%;
        margin: 80px auto;
    }
    nav a {
        font-size: 16px;
    }
}


@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        gap: 12px;
    }

    .logo img {
        width: 90px;
    }

    .titulo {
        font-size: 28px;
    }

    .container p {
        font-size: 18px;
    }

    .voltar {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }
}


@media (max-width: 400px) {
    nav a {
        font-size: 14px;
    }

    .titulo {
        font-size: 24px;
    }

    .container {
        padding: 15px;
    }

    .container p {
        font-size: 16px;
    }
}