body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.logo {
    width: 130px;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #d43fa3;
    font-weight: bold;
    font-size: 16px;
}

.hero {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    margin-left: 60px;
    margin-top: 120px;
    color: white;
    width: 450px;
}

.hero-content h1 {
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
}

.btn-group {
    margin-top: 30px;
}

.btn {
    padding: 12px 28px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    display: inline-block;
}

.rosa {
    background-color: #ef4fa6;
    color: white;
}

.branco {
    background-color: #ef4fa6;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}



@media (max-width: 900px) {
    header {
        padding: 15px 25px;
    }

    nav a {
        margin-left: 15px;
        font-size: 15px;
    }

    .hero-content {
        margin-left: 40px;
        width: 380px;
    }

    .hero-content h1 {
        font-size: 24px;
    }

    .hero {
        height: 550px;
    }
}


@media (max-width: 600px) {
    header {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    nav a {
        margin-left: 12px;
        font-size: 14px;
    }

    .hero {
        height: 520px;
    }

    .hero-content {
        margin-left: 20px;
        margin-top: 100px;
        width: 90%;
        text-align: left;
    }

    .hero-content h1 {
        font-size: 22px;
    }

    .btn {
        padding: 10px 22px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    nav a {
        margin-left: 8px;
        font-size: 13px;
    }

    .hero {
        height: 480px;
    }

    .hero-content {
        margin-left: 15px;
        margin-top: 80px;
        width: 90%;
    }

    .hero-content h1 {
        font-size: 20px;
    }

    .btn {
        width: 100%;
        margin-bottom: 12px;
        margin-right: 0;
        text-align: center;
    }

    .btn-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}